.cover {
    background-color: lightgrey;
    height: 150px;
    width: 100%;
}

.container {
    width: 50%;
}

.avatar {
    width: 100%;
    display: flex;
    justify-content: center;
}

.avatar img {
    margin: 0 auto;
}

.avatarContainer {
    border-radius: 50%;
    overflow: hidden;
    margin-top: -49px;
}

@media (max-width: 767px) {
    .container {
        width: 100%;
    }
}