.container p {
    margin: 10px 0;
}

.label {
    margin-right: 10px;
    color: var(--secondary-text);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input, .form{
    margin: 10px 0;
    width: 50%;
}

.radio{
    margin-right: 7px;
}

@media (max-width: 768px) {
    .input, .form{
        width: 90%;
    }
}