.primaryButton {
    margin-top: 10px;
    margin: 0 auto;
}

.input {
    margin: 20px 0;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: 281px auto;
}

.sectionLeft h1 {
    font-size: 6vw;
    font-weight: 500;
}

.sectionRight {
    flex: .6;
}

.sectionRight p {
    margin-top: 12px;
    text-align: center;
}

@media (max-width: 926px) {
    .container {
        flex-direction: column;
        width: 100%;
    }

    .sectionLeft h1 {
        text-align: center;
    }

    .sectionRight {
        flex: inherit;
    }
}

@media (max-width: 599px) {
    .sectionLeft h1 {
        font-size: 2.5em;
    }
}

@media (max-width: 372px) {
    .container {
        width: 94%;
        align-items: normal;
    }
}