body {
  font-family: 'Poppins', sans-serif;
}

body,
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --primary-color: #000000;
  --secondary-color: #3a3a3a;
  --border: #e7e7e7;
  --secondary-text: #585858;
  --icon: rgb(64, 64, 64);
}

.secondarytext {
  color: var(--secondary-text)
}

.primaryButton {
  background-color: var(--primary-color);
  color: #fff;
  padding: 8px 25px;
  text-align: center;
  width: max-content;
}

.input {
  background-color: #fff;
  outline: 1px solid var(--border);
  border: 1px solid var(--borders);
  border-radius: 2px;
  width: 100%;
  padding: 15px 10px;
}

.link{
  text-decoration: none;
  color: inherit;
}